nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.goods {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 32.2%;
}

.card-content {
  flex-grow: 1;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  padding: .6rem 1rem .4rem 1rem;
  transform-origin: left top;
  transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cart:hover {
  transform: rotate(15deg);
}

@media (min-width: 767px) {
  .cart{
    top: 5rem;
    bottom: unset;
  }
}